/* Leva design system from https://leva.pmnd.rs/ */
:root {
  --colors-leva__elevation1: #292d39;
  --colors-leva__elevation2: #181c20;
  --colors-leva__elevation3: #373c4b;
  --colors-leva__accent1: #0066dc;
  --colors-leva__accent2: #007bff;
  --colors-leva__accent3: #3c93ff;
  --colors-leva__highlight1: #535760;
  --colors-leva__highlight2: #8c92a4;
  --colors-leva__highlight3: #fefefe;
  --radii-leva__sm: 3px;
  --radii-leva__lg: 10px;
  --space-leva__md: 10px;
  --space-leva__rowGap: 7px;
  --fonts-leva__mono: ui-monospace, SFMono-Regular, Menlo, 'Roboto Mono',
    monospace;
  --sizes-leva__rootWidth: 280px;
  --sizes-leva__rowHeight: 24px;
  --shadows-leva__level1: 0 0 9px 0 #00000088;
  --borderWidths-leva__input: 1px;
  --borderWidths-leva__focus: 1px;
  --borderWidths-leva__hover: 1px;
}
