@import './leva-css-values.css';

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.app {
  width: 375px;
  height: 812px;
  border-radius: var(--radii-leva__lg);
  overflow: hidden;
  padding: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.component {
  border-radius: var(--radii-leva__lg);
  background-color: var(--colors-leva__elevation1);
  color: var(--colors-leva__highlight2);
  width: var(--sizes-leva__rootWidth);

  font-family: var(--fonts-leva__mono);

  margin-bottom: 1em;
}

.component * {
  font-family: inherit;
  box-sizing: border-box;
}

.component .title {
  padding: 1em;
}

.component .content {
  background-color: var(--colors-leva__elevation2);
  border-radius: var(--radii-leva__lg);
  padding: 1em;
  display: grid;
  row-gap: var(--space-leva__md);
}

input[type='button'] {
  outline: none;
  border: none;
  color: var(--colors-leva__highlight3);
  height: var(--sizes-leva__rowHeight);
  border-style: none;
  border-radius: var(--radii-leva__sm);
  background-color: var(--colors-leva__accent2);
  cursor: pointer;
  box-sizing: border-box;
}

input[type='button']:hover {
  box-shadow: inset 0 0 0 var(--borderWidths-leva__hover)
    var(--colors-leva__accent3);
}

input[type='button']:focus {
  box-shadow: 0 0 0 var(--borderWidths-leva__focus) var(--colors-leva__accent2);
}

input[type='button'][disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.row {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  min-width: 0;
  column-gap: var(--space-leva__md);

  color: var(--colors-leva__highlight2);
}

.row:not(.disabled):hover,
.row:focus-within {
  color: var(--colors-leva__highlight3);
}

.row .field {
  width: 50%;
}

.field {
  background-color: var(--colors-leva__elevation3);
  line-height: var(--sizes-leva__rowHeight);
  height: var(--sizes-leva__rowHeight);
  padding: 0 1em;
  text-align: right;
  color: inherit;

  outline: none;
  border: none;
  position: relative;
  border-radius: var(--radii-leva__sm);
  background-color: var(--colors-leva__elevation3);
  box-shadow: inset 0 0 0 var(--borderWidths-leva__input)
    var(--colors-leva__elevation1);
}

.invalid {
  color: var(--colors-leva__highlight2);
}

.invalid .field,
.field.invalid {
  box-shadow: inset 0 0 6px rgb(122, 17, 17);
}

.disabled {
  color: var(--colors-leva__highlight1);
  pointer-events: none;
}

.row.disabled .field,
.field.disabled {
  background-color: var(--colors-leva__elevation1);
  box-shadow: none;
}
