@import './leva-css-values.css';
@import './input-range.css';

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #333;
  font-size: 12px;
}

main {
  max-width: 600px;
  margin: auto;
  padding: 1em 2em;
}

header {
  text-align: center;
  color: var(--colors-leva__highlight2);
  font-family: var(--fonts-leva__mono);
  max-width: 300px;
  margin: auto;
}

header h1 {
  font-weight: 400;
  font-size: 20px;
}

a[href] {
  color: var(--colors-leva__accent1);
}

.app {
  padding: 2em 0;
  display: grid;
  justify-content: center;
  column-gap: 2em;
}

@media (min-width: 690px) {
  header {
    max-width: 100%;
  }

  .app {
    grid-template-columns: auto auto;
  }
}

.component {
  border-radius: var(--radii-leva__lg);
  background-color: var(--colors-leva__elevation1);
  box-shadow: var(--shadows-leva__level1);
  color: var(--colors-leva__highlight2);
  width: var(--sizes-leva__rootWidth);

  font-family: var(--fonts-leva__mono);

  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
}

.component .top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  height: 40px;
}

.component .top-row .code-url {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  border-radius: 999px;
  background-color: var(--colors-leva__highlight1);
  transition: background-color 250ms ease;
}

.component .top-row .code-url:hover {
  background-color: var(--colors-leva__highlight3);
}

.component .top-row .code-url svg {
  width: 70%;
  fill: var(--colors-leva__elevation1);
}

.component * {
  font-family: inherit;
  box-sizing: border-box;
}

.component .content {
  background-color: var(--colors-leva__elevation2);
  border-radius: var(--radii-leva__lg);
  padding: 1em;
  display: flex;
  flex-direction: column;
  row-gap: var(--space-leva__rowGap);
  flex-grow: 1;
}

.component .content .buttons:last-child {
  display: inherit;
  flex-direction: inherit;
  row-gap: inherit;
  margin-top: auto;
}

input[type='button'] {
  outline: none;
  border: none;
  color: var(--colors-leva__highlight3);
  height: var(--sizes-leva__rowHeight);
  border-style: none;
  border-radius: var(--radii-leva__sm);
  background-color: var(--colors-leva__accent1);
  cursor: pointer;
  box-sizing: border-box;
}

input[type='button']:hover {
  box-shadow: inset 0 0 0 var(--borderWidths-leva__hover)
    var(--colors-leva__accent2);
}

input[type='button']:focus {
  box-shadow: 0 0 0 var(--borderWidths-leva__focus) var(--colors-leva__accent3);
}

input[type='button'][aria-disabled='true'] {
  opacity: 0.5;
  pointer-events: none;
}

.row {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  min-width: 0;
  column-gap: var(--space-leva__md);

  color: var(--colors-leva__highlight2);
}

.row:not(.disabled):hover,
.row:focus-within {
  color: var(--colors-leva__highlight3);
}

.row:not(.invalid):not(.disabled):hover .field,
.row:not(.invalid):focus-within .field {
  box-shadow: inset 0 0 0 var(--borderWidths-leva__hover)
    var(--colors-leva__accent3);
}

.row .field {
  width: 50%;
}

.row .field.full-width {
  width: 100%;
}

select.field.full-width {
  text-align: left;
  min-height: calc(var(--sizes-leva__rowHeight) * 3);
  padding: 0.3em 0;
}

select.field.full-width option {
  padding: 0.2em 1em;
  display: flex;
  align-items: center;
}

.app ::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  box-shadow: 0 0 1px 0 black;
}

.app ::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

.app ::-webkit-scrollbar-corner {
  background: var(--colors-leva__elevation1);
}

.app ::-webkit-scrollbar-thumb {
  background: var(--colors-leva__elevation1);
  border-radius: 10px;
  position: relative;
}

.field {
  line-height: var(--sizes-leva__rowHeight);
  height: var(--sizes-leva__rowHeight);
  padding: 0 1em;
  text-align: right;
  color: inherit;

  outline: none;
  border: none;
  position: relative;
}

.field,
.canvas,
.cells table {
  border-radius: var(--radii-leva__sm);
  background-color: var(--colors-leva__elevation3);
  box-shadow: inset 0 0 0 var(--borderWidths-leva__input)
    var(--colors-leva__elevation1);
}

.invalid {
  color: var(--colors-leva__highlight2);
}

.invalid .field,
.field.invalid {
  box-shadow: inset 0 0 6px rgb(122, 17, 17);
}

.disabled {
  color: var(--colors-leva__highlight1);
}

.row.disabled .field,
.field.disabled {
  background-color: var(--colors-leva__elevation1);
  box-shadow: none;
}

.meter-slider-container {
  background-color: var(--colors-leva__elevation3);
  border-radius: var(--radii-leva__sm);
  height: 20%;
}

.meter-slider {
  min-width: 2px;
  height: 100%;
  background-color: var(--colors-leva__accent2);
  border-radius: var(--radii-leva__sm);
}

.meter,
.range {
  padding: 0;
  display: grid;
  grid-template-columns: 4fr 3fr;
  column-gap: 1em;
  align-items: center;

  width: 50%;
}

.meter .field,
.range .field {
  padding: 0 0.3em;
  display: block;
  width: 100%;
  pointer-events: none;
  user-select: none;
}

.timer .row {
  align-items: center;
}

.canvas {
  height: calc(var(--sizes-leva__rootWidth) / 1.5);
  position: relative;
}

.canvas svg {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.canvas circle {
  stroke: var(--colors-leva__highlight2);
  fill: #0000;
  z-index: 99;
}

.canvas circle.active {
  position: relative;
  fill: var(--colors-leva__highlight1);
}

.circle-drawer .popup {
  position: absolute;
  z-index: 999999;
  width: fit-content;
  border-radius: var(--radii-leva__sm);
  padding: 0.5em;
  background-color: var(--colors-leva__elevation2);
  box-shadow: var(--shadows-leva__level1);
  text-align: center;
}

.popup p {
  margin-bottom: 0.3em;
}

@media (min-width: 690px) {
  .cells {
    width: 584px;
    grid-column: 1 / 3;
  }
}

.cells table {
  display: block;
  max-width: 100%;
  max-height: 360px;
  overflow-x: scroll;
}

.cells tbody {
  min-width: 100%;
}

.cells th,
.cells tr td.row-no {
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  border-radius: 2px;
  padding: 0 0.5em;
  background-color: var(--colors-leva__elevation1);
  color: var(--colors-leva__highlight1);
}

.cell {
  position: relative;

  width: 100%;
  background: none;
  border: 1px solid var(--colors-leva__elevation1);
  border-radius: 3px;

  padding: 0.5em;
  min-width: 90px;
  height: 30px;
  outline: none;
}

.cell:focus-within {
  border-color: var(--colors-leva__accent3);
  color: var(--colors-leva__highlight3);
}

.cell input {
  background: none;
  border: none;
  padding: 0;
  outline: none;
  width: 100%;
  color: inherit;
  font-size: inherit;
}

.cell .value {
  pointer-events: none;
}
